.subscription-section{
    margin-top: 40px;
    background-color: silver;
    height: auto;
}

.subscription-section .row{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


.subscription-section .subscription-social-link-section{
    padding-top: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

@media (min-width: 576px) {
    .subscription-section .subscription-social-link-section .subscription-social-link-div{
        margin-left:auto;
        margin-right: auto;
        align-content:center;

    }
}

.subscription-section .subscription-social-link-section .subscription-social-link-div{
    margin-left:auto;
    margin-right: auto;
    align-content:center;

}

.subscription-section .subscription-social-link-section button{
    background-color: transparent;
    border: none;
}

.subscription-section .subscription-social-link-section button:hover{
    cursor:pointer;
}

.subscription-section .subscription-subscriber-section{
    padding-top: 30px;
}

.subscription-section .subscription-subscriber-section .subscription-form{
    position:relative;
    right: 0;
}

.subscription-section .subscription-subscriber-section button{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid white;
}

.subscription-section .subscription-subscriber-section button:hover{
    cursor:pointer;
}

.subscription-section .subscription-subscriber-section .subscription-form input[type=email]{
    width: 100%;
    border-radius: 25px;
}

.subscription-section .subscription-subscriber-section .subscription-form button{
    width:100px;
    position:relative;
    margin: 10px auto 20px;
}