.product-lists{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.products-lists-row{
    margin: 0 auto !important;
}

.product-lists-col{
    position: absolute;
    margin: 0 auto !important;
}

.product-lists-card{
    height: 92%;
    width: 85%;
    float:left;
    margin: 10px 23px 35px;
}

.product-lists-card-with-filter{
    height: 92%;
    width: 85%;
    float:left;
    margin: 10px 23px 35px;
}

.product-item-image{
    padding: 5px;
}

.product-item-image-with-filter{
    padding:5px
}

.product-item-text{
    text-align: center;
}
