.products-main{
    height: 500px;
    width: 100%;
    border:1px solid black;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.products-main-with-filter{
    border:1px solid black;
    height:500px;
    width: 85%;
    position: relative;
    left: 15%;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    z-index: -1;
}

@media (min-width: 750px) and (max-width: 991px) {
    .products-main-with-filter{
        width: 100%;
        left: 0;
        z-index: -1;
    }
}

@media (max-width: 749px) and (min-width: 420px) {
    .products-main-with-filter{
        width: 100%;
        left: 0;
        z-index: -1;
    }
}

@media (max-width: 419px) {
    .products-main-with-filter{
        width: 100%;
        left: 0;
        z-index: -1;
    }
}