.product-lists{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    border: 1px solid red;
}

.product-lists-with-filter{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    margin-top: 10px;
}

.product-lists-col{
    position: absolute;
    border: 1px solid black;
}

.product-lists-card{
    float:left;
    margin: 10px 23px 35px;
}

.product-lists-card-with-filter{
    float:left;
    margin-bottom: 40px;
}

.product-item-image{
    /*height: 500px;*/
    /*width: 400px;*/
    padding: 5px;
}

.product-item-image-with-filter{
    /*height: 400px;*/
    /*width: 400px;*/
    padding:5px
}

.product-item-text{
    text-align: center;
}

.product-lists-card-with-filter-shown{

}