.products-categories{
    float:left;
    width: 14%;
    background-color: transparent;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.products-categories-list{
    color:black;
}

.products-categories-list-hr-line{
    display: none;
}

@media (min-width: 750px) and (max-width: 991px) {
    .products-categories{
        margin-top: -8px;
        width:180px ;
        font-size: 15px;
        background-color:#d6d9db;
        text-align: center;
        z-index: 100;
    }

    .products-categories-list-hr-line{
        display: block;
        margin: 1px 0;
    }
}

@media (max-width: 749px) and (min-width: 420px) {
    .products-categories{
        margin-top: -8px;
        width:180px ;
        font-size: 15px;
        background-color:#d6d9db;
        text-align: center;
        z-index: 100;
    }

    .products-categories-list-hr-line{
        display: block;
        margin: 1px 0;
    }
}

@media (max-width: 419px) {
    .products-categories{
        margin-top: -8px;
        width:145px ;
        font-size: 15px;
        background-color:#d6d9db;
        z-index: 100;
    }

    .products-categories-list{
        font-size: 13px;
        text-align: center;
    }

    .products-categories-list-hr-line{
        display: block;
        margin: 1px 0;
    }
}