.forgot-password-div{
    min-height: 78vh;
}

.forgot-password-form{
    width: 50%;
    border: 1px solid #cacdd1;
    padding:20px;
    margin:auto;
}

.forgot-password-form label{
    font-weight: bold;
}

.forgot-password-form button{
    width: 25%;
    background-color: #337ab7;
    border-color: #2e6da4;
    margin-left: 75%;
}

.forgot-password-form button:hover{
    background-color: #2d6a9f;
}

.forgot-password-div-error{
    color: red;
}

@media (min-width: 1200px) {
    .forgot-password-div {
        margin-top: 100px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .forgot-password-div{
        margin-top: 90px;
    }

    .forgot-password-form{
        width: 60%;
    }

    .forgot-password-form button{
        width: 40%;
        margin-left: 60%;
    }
}

@media (min-width: 750px) and (max-width: 991px) {
    .forgot-password-div{
        margin-top: 80px;
    }

    .forgot-password-form{
        width: 65%;
    }

    .forgot-password-form button{
        width: 40%;
        margin-left: 60%;
    }
}

@media (max-width: 749px) {
    .forgot-password-div{
        margin-top: 30px;
    }

    .forgot-password-form{
        width: 75%;
    }

    .forgot-password-form button{
        width: 50%;
        margin-left: 50%;
    }
}