.view-selected-product{
    margin: 0 auto;
    width: 95%;
    min-height: 84vh;
}

.view-product-row{
    margin-top: 1vh;
}

.view-product-image{
    margin: 0 auto;
    width: 40%;
}

.view-product-image-col-div{
    margin:0 auto;
}

.view-product-image-small{
    height: 600px !important;
}

.view-product-image-large{
    margin-left: 15px !important;
}

.view-product-image-lists-col{
    padding: 0 10px 10px;
    width: 100%;
    height:100%;
}

.view-product-img-lists{
    margin: 1px 7px;
    cursor: pointer;
}

.view-product-img-lists img{
    height: 60px;
    width: 60px;
}

.view-product-img-lists img:hover{
    -webkit-transform: scale(1.09);
    transform: scale(1.09);
    border: 2px solid #92c9fc;
}

.view-product-info{
    width: 40%;
    z-index: -1;
    min-height: 100vh;
}

.view-product-details{
}

.view-product-info p:first-child{
    font-size:25px;
}

@media (min-width: 1200px) {
    .view-selected-product {
        margin-top: 79px;
    }

    .view-product-image-col-div{
        width: 90% !important;
    }

    .view-product-img-lists{
        margin-bottom: 10px;
    }

    .view-product-image-small{
        height: 600px !important;
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
    .view-selected-product {
        margin-top: 69px;
    }

    .view-product-img-lists{
        margin-bottom: 10px;
    }

    .view-product-image-col-div{
        width: 90% !important;
    }

    .view-product-image-small{
        height: 500px !important;
    }
}

@media (min-width: 769px) and (max-width: 999px) {
    .view-selected-product {
        margin-top: 59px;
    }

    .view-product-image-lists{
        width: 100%;
        height: 100%;
    }

    .view-product-img-lists{
        margin-bottom: 10px;
    }

    .view-product-image-col-div{
        width: 90% !important;
    }

    .view-product-image-small{
        height: 450px !important;
    }
}

@media (max-width: 768px) and (min-width: 420px) {
    .view-selected-product {
        margin-top: 9px;
    }

    .view-product-image-lists{
        height: 70px;
        padding:0 10px 0;
    }

    .view-product-img-lists{
        float:left;
    }

    .view-product-image-col-div{
        width: 80% !important;
    }

    .view-product-image-small{
        height: 400px !important;
    }

    .view-product-image-lists-col{
        padding: 0 ;
        margin: 0 auto;
    }
}

@media (max-width: 572px) {
    .view-product-details{
        border: 1px solid #d6d9db;
        width: 80%;
        margin-left:auto;
        margin-right: auto;
        margin-top: 15px;
    }
}

@media (max-width: 419px) {
    .view-selected-product {
        margin-top: 9px;
        font-size: 13px;
    }

    .view-product-image-lists{
        height: 70px;
        padding:0 10px 0;
    }

    .view-product-img-lists{
        float:left;
    }

    .view-product-image-col-div{
        width: 80% !important;
    }

    .view-product-image-small{
        height: 400px !important;
    }
}