.login{
    width: 47.5%;
    margin-right: auto;
    margin-left: auto;
    padding:20px;
    border: 1px solid #cacdd1;
    position: relative;
}

.login-header-text p:first-child{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.login-header-text p:nth-child(2) {
    text-align: center;
    color: #cacdd1;
}

.login-google-btn{
    width: 49%;
    background-color: #D84B37 !important;
    margin-right: 2%;
}

.login-facebook-btn{
    width: 49%;
    background-color: #3B5998 !important;
}

.login-social-icon{
    padding-right: 2%;
}

.login-google-btn:hover{
    background-color: #c03826 !important;
}

.login-facebook-btn:hover{
    background-color: #324b81 !important;
}

.login-or-div{
    width: 100%;
    margin: 15px 0;
}

.login-or{
    text-align: center;
    color: #cacdd1;
    position: relative;
}

.login-or span{
    display:inline-block;
    padding:0 10px;
    background:#fff;
}

.login-or:before{
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    top:50%;
    height:1px;
    background:#cacdd1;
}

.login-form label{
    font-weight: bold;
}

.login-form button{
    width: 100%;
    margin-top: 10px;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.login-form button:hover{
    background-color: #2d6a9f;
}

.login-bottom-link{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.login-bottom-link a:hover{
    text-decoration: none;
}

.login-footer{
    position: relative;
    bottom: 0;
    width: 100%;
}

.login-error{
    color: red;
}

@media (min-width: 1200px) {
    .login {
        top: 80px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .login{
        width: 60%;
        top: 70px;
    }
}

@media (min-width: 750px) and (max-width: 991px) {
    .login{
        width: 65%;
        margin-top: 60px;
    }
}

@media (max-width: 749px) {
    .login{
        width: 75%;
        top: 10px;
    }
}