/*====================Navigation Bar Styling====================*/
/*Larger Devices (e.g. wide-screen monitors)*/
@media (min-width: 1200px) {
    .nav-item-custom {
        padding:0px 35px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }

    .nav-text-style{
        font-size: 17px;
    }

    .sshouse nav{
        height: 70px;
    }
}

/*Medium Sized Devices (e.g. Desktops)*/
@media (min-width: 992px) and (max-width: 1199px) {
    .nav-item-custom {
        padding:0px 20px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }

    .nav-text-style{
        font-size: 16px;
    }

    .sshouse nav{
        height: 60px;
    }
}

/*Small Devices” (e.g. tablets)*/
@media (min-width: 750px) and (max-width: 991px) {
    .nav-item-custom {
        padding:0px 10px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }

    .nav-text-style{
        font-size: 14px;
    }

    .sshouse nav{
        height: 50px;
    }
}

@media (max-width: 749px) {
    .nav-item-custom {
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }

    .nav-text-style{
        font-size: 14px;
    }

    .sshouse nav{
        position:sticky;
    }
}


/*======================================================================*/

/*====================================Carousel============================*/
.carousel-box{
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-image{
    width: 100%;
}

@media (min-width: 1200px) {
    .carousel-box {
        margin-top: 71px;
    }

    .carousel-image{
        height: 450px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-box {
        margin-top: 61px;
    }

    .carousel-image{
        height: 350px;
    }
}

@media (min-width: 750px) and (max-width: 991px) {
    .carousel-box {
        margin-top: 51px;
    }

    .carousel-image{
        height: 300px;
    }
}

@media (max-width: 749px) {
    .carousel-box {
        margin-top: 1px;
    }

    .carousel-image{
        height: 300px;
    }
}

/*=============================Categories Card====================*/
.categories-card{
    margin-top: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.categories-card-item{
    margin-top: 25px;
    padding:0px;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.categories-card-item:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.categories-card-image{
    position:relative;
    width:100%;
}

.categories-card  .categories-card-button{
    position: absolute;
    bottom: 0%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

@media (min-width: 1200px) {
    .categories-card-image{
        height: 400px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .categories-card-image{
        height: 350px;
    }
}

@media (min-width: 750px) and (max-width: 991px) {
    .categories-card-image{
        height: 300px;
    }
}

@media (max-width: 749px) {
    .categories-card-image{
        height: 250px;
    }
}

/*=============================Featured Products====================*/
.featured-products{
    margin-top: 60px;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: green;*/
}

.featured-products h2{
    text-align: center;
}

.featured-products-slider{
    margin-top: 40px;
}

.featured-products .featured-products-card{
    padding: 0 10px;
    border:none;
    border-radius: 0;
}

.featured-products-card-img{
    height:400px;
}

.featured-products-card-img:hover{
    cursor: grab;
}

.slick-custom-arrow{
    background-color:transparent;
    color: black;
    font-size: 60px;
    padding: 0;
    margin: 0;
    border: none;
    position:absolute;
    top:40%;
}

.slick-custom-arrow:hover{
    cursor: pointer;
}

.slick-custom-prev-arrow{
    left:-5%;
}

.slick-custom-next-arrow{
    right:-5%;
}






