.sweaterhouse-footer{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

/*====================Navigation Bar Styling====================*/
/*Larger Devices (e.g. wide-screen monitors)*/
@media (min-width: 1200px) {
    .nav-item-custom {
        padding:0 35px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }

    .nav-text-style{
        font-size: 17px;
    }

    .sshouse nav{
        height: 70px;
    }
}

/*Medium Sized Devices (e.g. Desktops)*/
@media (min-width: 992px) and (max-width: 1199px) {
    .nav-item-custom {
        padding:0 20px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }

    .nav-text-style{
        font-size: 16px;
    }

    .sshouse nav{
        height: 60px;
    }
}

/*Small Devices” (e.g. tablets)*/
@media (min-width: 769px) and (max-width: 991px) {
    .nav-item-custom {
        padding:0px 10px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }

    .nav-text-style{
        font-size: 14px;
    }

    .sshouse nav{
        height: 50px;
    }
}

@media (max-width: 768px) {
    .nav-item-custom {
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }

    .nav-text-style{
        font-size: 14px;
    }

    .sshouse nav{
        position:sticky;
    }
}


/*======================================================================*/

/*====================================Carousel============================*/
.carousel-box{
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-image{
    width: 100%;
}

@media (min-width: 1200px) {
    .carousel-box {
        margin-top: 71px;
    }

    .carousel-image{
        height: 450px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel-box {
        margin-top: 61px;
    }

    .carousel-image{
        height: 350px;
    }
}

@media (min-width: 750px) and (max-width: 991px) {
    .carousel-box {
        margin-top: 51px;
    }

    .carousel-image{
        height: 300px;
    }
}

@media (max-width: 749px) {
    .carousel-box {
        margin-top: 1px;
    }

    .carousel-image{
        height: 300px;
    }
}

/*=============================Categories Card====================*/
.categories-card{
    margin-top: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.categories-card-item{
    margin-top: 25px;
    padding:0px;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
}

.categories-card-item:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.categories-card-image{
    position:relative;
    width:100%;
}

.categories-card  .categories-card-button{
    position: absolute;
    bottom: 0%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
}

@media (min-width: 1200px) {
    .categories-card-image{
        height: 400px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .categories-card-image{
        height: 350px;
    }
}

@media (min-width: 750px) and (max-width: 991px) {
    .categories-card-image{
        height: 300px;
    }
}

@media (max-width: 749px) {
    .categories-card-image{
        height: 250px;
    }
}

/*=============================Featured Products====================*/
.featured-products{
    margin-top: 60px;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /*background-color: green;*/
}

.featured-products h2{
    text-align: center;
}

.featured-products-slider{
    margin-top: 40px;
}

.featured-products .featured-products-card{
    padding: 0 10px;
    border:none;
    border-radius: 0;
}

.featured-products-card-img{
    height:350px;
}

.featured-products-card-img:hover{
    cursor: grab;
}

.slick-custom-arrow{
    background-color:transparent;
    color: black;
    font-size: 60px;
    padding: 0;
    margin: 0;
    border: none;
    position:absolute;
    top:40%;
}

.slick-custom-arrow:hover{
    cursor: pointer;
}

.slick-custom-prev-arrow{
    left:-5%;
}

.slick-custom-next-arrow{
    right:-5%;
}


/*=============================Subscription Section====================*/
.subscription-section{
    margin-top: 40px;
    background-color: silver;
    height: auto;
}

.subscription-section .row{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}


.subscription-section .subscription-social-link-section{
    padding-top: 30px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    align-content: center;
}

@media (min-width: 576px) {
    .subscription-section .subscription-social-link-section .subscription-social-link-div{
        margin-left:auto;
        margin-right: auto;
        align-content:center;

    }
}

.subscription-section .subscription-social-link-section .subscription-social-link-div{
    margin-left:auto;
    margin-right: auto;
    align-content:center;

}

.subscription-section .subscription-social-link-section button{
    background-color: transparent;
    border: none;
}

.subscription-section .subscription-social-link-section button:hover{
    cursor:pointer;
}

.subscription-section .subscription-subscriber-section{
    padding-top: 30px;
}

.subscription-section .subscription-subscriber-section .subscription-form{
    position:relative;
    right: 0%;
}

.subscription-section .subscription-subscriber-section button{
    margin-left: 20px;
    background-color: transparent;
    border: 1px solid white;
}

.subscription-section .subscription-subscriber-section button:hover{
    cursor:pointer;
}

.subscription-section .subscription-subscriber-section .subscription-form input[type=email]{
    width: 100%;
    border-radius: 25px;
}

.subscription-section .subscription-subscriber-section .subscription-form button{
    width:100px;
    position:relative;
    margin: 10px auto 20px;
}

/*=============================FAQ Section====================*/
.faq-section{
    width: 95%;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .faq-section {
        margin-top: 71px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .faq-section {
        margin-top: 61px;
    }
}

@media (min-width: 750px) and (max-width: 991px) {
    .faq-section {
        margin-top: 51px;
    }
}

@media (max-width: 749px) {
    .faq-section {
        margin-top: 1px;
    }
}

.faq-list-section{
    margin-top: 5px;
}

.faq-list-item-section{
    margin:4px 8px 8px;
    padding:9px;
    box-sizing : border-box;
    white-space: pre-wrap;
    border:1px solid #d6d9db;
}

/*=============================Product Section====================*/
.products-section{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.products-section-div{
    margin: 10px 0 0;
}

.products-categories{
    float:left;
    width: 14%;
    background-color: transparent;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.products-categories-list{
    color:black;
}

.products-main{
    height: 500px;
    width: 100%;
    border:1px solid black;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.products-main-with-filter{
    border:1px solid black;
    height:500px;
    width: 85%;
    position: relative;
    left: 15%;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
}

.product-index-button{
    width: 180px;
    padding: 8px 0;
    background-color:transparent;
    border-radius: 6px;
    border: 2px solid #d6d9db;
    box-shadow: none;
}

.product-index-button:hover{
    cursor: pointer;
}

.products-filter{
    background-color:yellow;
    border-radius: 6px;
    border: 2px solid #d6d9db;
    box-shadow: none;

}

.products-filter-dropdown-toggle{
    background-color:red;
}

.products-filter-dropdown-menu{
    background-color:aqua;
    color:black;
}

@media (min-width: 1200px) {
    .products-section {
        margin-top: 79px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .products-section {
        margin-top: 69px;
    }
}

@media (min-width: 750px) and (max-width: 991px) {
    .products-section {
        margin-top: 59px;
    }

    .products-main-with-filter{
        width: 100%;
        left: 0;
        z-index: -1;
    }

    .products-categories{
        margin-top: -8px;
        width:180px ;
        font-size: 16px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
        background-color:#d6d9db;
    }
}

@media (max-width: 749px) and (min-width: 500px) {
    .products-section {
        margin-top: 9px;
    }

    .products-main-with-filter{
        width: 100%;
        left: 0;
        z-index: -1;
    }

    .products-categories{
        margin-top: -8px;
        width:180px ;
        font-size: 16px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
        background-color:#d6d9db;
    }
}

@media (max-width: 499px) {
    .products-section {
        margin-top: 9px;
        font-size: 13px;
    }

    .products-main-with-filter{
        width: 100%;
        left: 0;
        z-index: -1;
    }

    .products-categories{
        margin-top: -8px;
        width:160px ;
        font-size: 16px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
        background-color:#d6d9db;
    }

    .product-index-button{
        width: 160px;
        padding: 8px 0;
        background-color:transparent;
        border-radius: 6px;
        border: 2px solid #d6d9db;
        box-shadow: none;
    }

    .products-categories-list{
        font-size: 14px;
    }
}











