/*====================Navigation Bar Styling====================*/
/*Larger Devices (e.g. wide-screen monitors)*/
@media (min-width: 1200px) {
    .nav-item-custom {
        padding:0px 35px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }

    .nav-text-style{
        font-size: 17px;
    }
}

/*Medium Sized Devices (e.g. Desktops)*/
@media (min-width: 992px) and (max-width: 1199px) {
    .nav-item-custom {
        padding:0px 20px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }

    .nav-text-style{
        font-size: 16px;
    }
}

/*Small Devices” (e.g. tablets)*/
@media (min-width: 750px) and (max-width: 991px) {
    .nav-item-custom {
        padding:0px 10px;
        -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
        transition: 0.5s;
    }

    .nav-text-style{
        font-size: 14px;
    }
}

.all-nav-item-style{
    color: red;
}

.sshouse .navbar{
    left: 0;
    top: 0;
    width: 100%;
    z-index: 12;
    transition: 0.5s;
}

/*======================================================================*/

/*====================================Carousel============================*/
.carousel-box{
    position: relative;
    top:10%;
}

.carousel-image{
    width: 100%;
}

@media (min-height: 600px){
    .carousel-image{
        height: 550px;
    }
}

@media (min-height: 400px) and (max-width: 599px) {
    .carousel-image{
        height: 400px;
    }
}

@media (max-height: 399px){
    .carousel-image{
        height: 300px;
    }
}

/*=============================Categories Card====================*/
.categoreies-card{
}

.categories-card-image{}