.sales-main{
    width: 100%;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    position: relative;
    min-height: 100%;
}

.sales-main-with-filter{
    width: 85%;
    position: relative;
    left: 15%;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    min-height: 100%;
}

.ant-modal-content{
    margin-top: 50px;
}

@media (max-width: 991px) {
    .sales-main-with-filter{
        width: 100%;
        left: 0;
        min-height: 100%;
    }
}

.sales-lists{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    min-height: 67vh;
}

.sales-lists-row{
    margin: 0 auto !important;
}

.sales-lists-col{
    margin: 0 auto !important;
}

.sales-lists-col:hover{
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
    -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 1s;
}

.sales-lists-card{
    float:left;
    margin: 10px 23px 35px;
}

.sales-lists-card-with-filter{
    float:left;
    margin: 10px 23px 35px;
}

.sales-lists-card-with-filter:hover .admin-edit-delete-div-wrapper, .sales-lists-card:hover .admin-edit-delete-div-wrapper{
    visibility: visible;
}

.admin-edit-delete-div-wrapper{
    visibility: hidden;
    position:absolute;
    top: 0;
    right: 0;
    height: 64px;
    width: 100%;
}

.admin-edit-delete-div-child{
    height: 100%;
    width: 100%;
    background-color: darkgray;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    opacity: 0.5;
}

.admin-edit-delete-div-icon{
    height: 100%;
    position: absolute;
    color:black;
    top:0;
    right: 0;
}

.admin-edit-delete-div-icon i{
    height: 100%;
    font-size:30px;
    padding: 5px 20px;
    text-align: center;
    float: right;
}

.admin-edit-delete-div-icon i:hover{
    color:black;
    background-color: #b3b3b3;
    cursor: pointer;
    /*opacity: 0.8;*/
}

.sales-item-image{
    cursor: pointer;
    padding: 5px;
}

.sales-item-image-with-filter{
    cursor: pointer;
    padding:5px;
}

.sales-item-title{
    text-align: center;
}

.sales-item-text{
    text-align: center;
    margin-bottom: 15px;
}

.sales-no-product-text{
    text-align: center;
    color: red;
    margin: 90px auto;
}


@media (min-width: 1200px) {
    .sales-lists-card{
        height: 510px;
        width: 90%;
    }

    .sales-lists-card-with-filter{
        height: 430px;
        width: 90%;
    }

    .sales-item-image{
        height: 400px;
    }

    .sales-item-image-with-filter{
        height: 320px;
    }
}

@media (min-width: 1050px) and (max-width: 1199px) {
    .sales-lists-card{
        height: 460px;
        width: 85%;
    }

    .sales-lists-card-with-filter{
        height: 390px;
        width: 85%;
    }

    .sales-item-image{
        height: 350px;
    }

    .sales-item-image-with-filter{
        height: 280px;
    }
}

@media (min-width: 992px) and (max-width: 1049px) {
    .sales-lists-card{
        height: 420px;
        width: 85%;
    }

    .sales-lists-card-with-filter{
        height: 350px;
        width: 85%;
    }

    .sales-item-image{
        height: 310px;
    }

    .sales-item-image-with-filter{
        height: 240px;
    }
}

@media (min-width: 800px) and (max-width: 991px) {
    .sales-lists-card{
        height: 490px;
        width: 85%;
    }

    .sales-lists-card-with-filter{
        height: 490px;
        width: 85%;
    }

    .sales-item-image{
        height: 380px;
    }

    .sales-item-image-with-filter{
        height: 380px;
    }
}

@media (min-width: 750px) and (max-width: 799px) {
    .sales-lists-card{
        height: 460px;
        width: 85%;
    }

    .sales-lists-card-with-filter{
        height: 460px;
        width: 85%;
    }

    .sales-item-image{
        height: 350px;
    }

    .sales-item-image-with-filter{
        height: 350px;
    }
}

@media (min-width: 680px) and (max-width: 749px) {
    .sales-lists-card{
        height: 410px;
        width: 85%;
    }

    .sales-lists-card-with-filter{
        height: 410px;
        width: 85%;
    }

    .sales-item-image{
        height: 300px;
    }

    .sales-item-image-with-filter{
        height: 300px;
    }
}

@media (min-width: 605px) and (max-width: 679px) {
    .sales-lists-card{
        height: 390px;
        width: 85%;
    }

    .sales-lists-card-with-filter{
        height: 390px;
        width: 85%;
    }

    .sales-item-image{
        height: 280px;
    }

    .sales-item-image-with-filter{
        height: 280px;
    }
}

@media (max-width: 604px) {
    .sales-lists-card{
        height: 400px;
        width: 85%;
    }

    .sales-lists-card-with-filter{
        height: 400px;
        width: 85%;
    }

    .sales-item-image{
        height: 300px;
    }

    .sales-item-image-with-filter{
        height: 300px;
    }
}
