.sales-categories{
    float:left;
    width: 14%;
    background-color: transparent;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    position: absolute;
}

.sales-categories-list{
    color:black;
}

.sales-categories-list-hr-line{
    display: none;
}

@media (min-width: 750px) and (max-width: 991px) {
    .sales-categories{
        margin-top: -8px;
        width:180px ;
        font-size: 15px;
        background-color:#fcfdff;
        text-align: center;
        z-index: 1;
    }

    .sales-categories-list-hr-line{
        display: block;
        margin: 1px 0;
    }
}

@media (max-width: 749px) and (min-width: 420px) {
    .sales-categories{
        margin-top: -8px;
        width:180px ;
        font-size: 15px;
        background-color:#fcfdff;
        text-align: center;
        z-index: 1;
    }

    .sales-categories-list-hr-line{
        display: block;
        margin: 1px 0;
    }
}

@media (max-width: 419px) {
    .sales-categories{
        margin-top: -8px;
        width:145px ;
        font-size: 15px;
        background-color:#fcfdff;
        z-index: 1;
    }

    .sales-categories-list{
        font-size: 13px;
        text-align: center;
    }

    .sales-categories-list-hr-line{
        display: block;
        margin: 1px 0;
    }
}