.sales-filter{
    float:right;
}

.sales-filter-dropdown-menu{
    position:absolute;
    background-color:#fcfdff;
    margin-top: 9px;
    -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
    transition: 0.5s;
    width: 180px;
    z-index: 1;
}

.sales-filter-dropdown-item{
    text-align: center;
    padding: 8px;
    display: block;
    color:black;
}

.sales-filter-dropdown-item:hover{
    cursor: pointer;
    text-decoration: none;
}

.sales-filter-dropdown-item:not([href]):not([tabindex]):hover {
    color:#0056c4;
}

@media (min-width: 750px) and (max-width: 991px) {
    .sales-filter-dropdown-menu{
        font-size: 15px;
        position: absolute;
    }
}

@media (max-width: 749px) and (min-width: 420px) {
    .sales-filter-dropdown-menu{
        font-size: 15px;
        position: absolute;
    }
}

@media (max-width: 419px) {
    .sales-filter-dropdown-menu{
        font-size: 13px;
        position: absolute;
        width: 140px;
    }
}